
<div class="container my-5 shadow-lg">
    <div class="row">
        <!-- Left Section -->
        <div class="col-md-6 welcome-section">
            <h1>Welcome</h1>
            <img src="{{ url_for('auth.static', filename='img/registration_cover.png') }}" alt="Veterinarian and pets">

        </div>

        <!-- Right Section (Form) -->

        <div class="col-md-6 form-section">
            <div class="row">
                <a class="navbar-brand d-flex justify-content-end" href="#">
                    <img src="{{ url_for('auth.static',filename='img/public/logo.png') }}" alt="Logo" class="img-fluid" style="max-height: 60px;">
                </a>
            </div>

            <h2>Create Account</h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <input type="email" class="form-control" placeholder="Email Address">
                <input type="text" class="form-control" placeholder="Username">
                <input type="password" class="form-control" placeholder="Password">
                <input type="tel" class="form-control" placeholder="Contact Number">
                <button type="submit" class="btn btn-primary mt-3">Create Account</button>
            </form>
            <div class="form-footer">
                <p>Already have an account? <a href="#">Login</a></p>
            </div>
        </div>
    </div>
</div>
