.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-body {
    padding: 0;
}

.bg-danger {
    background-color: #ff2c0b !important; 
    color: white;
}

.btn-close {
    margin-top: -10px;
    margin-right: -10px;
}

h3 {
    font-weight: bold;
    color: #333;
}

.text-primary {
    color: #007bff !important;
}

.img-fluid {
    max-width: 80%;
}
#signupModal {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.modal-backdrop {
    opacity: 0.5 !important; /* Adjust the backdrop opacity as needed */
    z-index: 1040 !important;
}

#signupModal .modal-content {
    z-index: 1050 !important;
    pointer-events: auto;
}
